PORT=3005
NODE_ENV=development
DATABASE_URL=postgresql://postgress:Mtunzi123@localhost:5432/kilimanjaro_db?schema=notification
JWT_ACCESS_SECRET=your_access_secret_here
RABBITMQ_URL=amqp://localhost:5672
REDIS_URL=redis://localhost:6379
